/* Rules for base.html - the primary template */

* {
    box-sizing: border-box;
}

header.header {
	margin-bottom: 0px;
}

body {
	font-family: Georgia, serif;
	max-width: 800px;
	text-align: center;
	margin: auto;
	background-color: #cccccc;
}

p#slogan {
	font-family: "Courier New", Courier, monospace;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3em;
	color: #9b0000;
	margin: 0px;
	padding: 0px;
}

div#sticky-main-nav {
	margin: 0px;
	padding: 0px;
	position: sticky;
	top: 0;
	background-color: #cccccc;
}

div.nav-block {
	display: inline-block;
	font-size: 3em;
	margin: 0px;
	padding: 0px;
	width: 50%;
}

span.nav-text {
	font-size: 40%;
	display: inline;
}

div#content-block {
	background-color: #303030;
	color: #FFFFFF;
	padding: 5px;
	margin: 0px;
}

footer.footer {
	margin: 0px;
	background-color: #A6BCFF;
	padding: 10px;
}

p.info {
	font-size: 80%;
}

a {
	color: #6677FF;
}

p.section-header {
	font-size: 150%;
}

button {
	display: block;
	margin: auto;
}

button a {
	text-decoration: none;
	color: #000000;
}

span.u {
	text-decoration: underline;
}

span.i {
	font-style: italic;
}

span.b {
	font-weight: bold;
}

p.i {
	font-style: italic;
}

table.scoreboard {
	max-width: 100%;
	margin: auto;
	text-align: center;
	padding: 5px;
	border: 2px solid #b5b5b5;
	border-collapse: collapse;
	font-size: 100%;
}

table.scoreboard tr {
	outline: thin solid #b5b5b5;
	border-collapse: collapse;
}

table.scoreboard td, table.scoreboard th {
	padding: 5px;
	border-collapse: collapse;
	background-color: #b5b5b5;
	color: #4c0000;
}

table.scoreboard th {
	font-weight: bold;
}

table.login {
	margin: auto;
}