{% extends "ui/base.html" %}

{% block content %}

{% load static %}

<p>Welcome to the Prop Bets Pool! Inspired by a Super Bowl prop bets pool, this platform lets you and your friends compete against each other by answering the same series of True or False questions.</p>
<p>The designated administrator of the group is responsible for creating the league, writing the prop bets (a series of True or False questions) and tracking the correct answer to each prop bet.</p>
<p>Each player who joins the league will submit their picks for each prop bet. As the answers for each prop bet are updated, the scoreboard page tracks how well each player is doing.</p>
<p>The landing page shows the league(s) you (as the signed-in user) are in, and has links to join an existing league or create a new one.</p>

<br><br>

<p><a href="/api/">Click here to see the single page version of the app.</a></p>

{% endblock %}